.box{
    width:100px;
    height: 70px;
    border: 2px solid black;
    display: inline-block;
}
p{

    display: inline-block;
    margin: 0;
    font-size: 20px;}

div:nth-child(even){
    border: 2px solid red;
    text-decoration: none;
}
div:nth-child(odd) p:nth-child(even){
    color:green;
}
div:nth-child(2) p:last-of-type{
    color: blue;
}
div:nth-child(6) p:not(p:last-of-type){
    color:yellow;}
    